*{
    box-sizing: border-box;
    font-style:Serif;
}

/*Imagem centralizada no body*/

body {
    background-image: url('imagem1.webp'); 
    background-size: cover; 
    background-position: center;
}

p{
    text-align: justify;
    color: black;
    font-style: normal;
}

/*Id para o top da página com informações*/
#topo{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: x-large;
    text-decoration: overline;
    font-style: italic;
    background-image: url('imagem2.jpeg');
    background-size: cover;
    border-radius: 25px;
    background-position: center;  
    padding: 50px 0;
}

/*Organização das tabelas com as formações*/

table{
    text-align: center;
    font-style: inherit;
    color: black;
    border-color:rgb(9, 237, 161);
    border-radius: 5px;
    border-style: dashed;
    background-color: rgba(242, 242, 242, 0.784);
    margin: 0 auto;
    height: auto;
    width: 60%;
}

/*Lista de navegação superior entre as páginas*/

ul { 
    list-style-type: none;
    margin: 0; 
    padding: 0; 
    background-color: #81FA32;
    text-align: center;
    border-radius: 10px;
    height: auto;
}


li{display: inline-flex;}
a {
    width: 350px;
    color: #000; 
    padding: 25px 25px; 
    text-decoration: none;
    font-size:large;
}


li a:hover {
    background-color: #D4FA32; 
    color: rgb(2, 123, 32);
    border-radius: 10px;
    font-size: x-large;
    } 



img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
   }

/*Links de redes sublinhados*/
   
.sublinhado{text-decoration: underline;
    text-align: center;
    font-style: italic;
    font-size: x-large;
    color:blue}

/*Alinhamento de vídeos*/

.container {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
}

.center{
    text-align: center;
}

.video-container {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px; }

p{
    font-size: larger;

}

section img {
    max-width: 30%;
    height: auto; 
    border-radius: 20px;
}